services:
  mongo:
    container_name: mongo
    image: mongo:8.2.1
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: archivist
    healthcheck:
      test:
        [
          "CMD",
          "/usr/bin/mongosh",
          "-u",
          "root",
          "-p",
          "example",
          "--quiet",
          "/opt/mongo/joinReplicaSet.js",
        ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 1s
    volumes:
      - mongo_data:/data/db
      - ./scripts/mongo/opt/mongo:/opt/mongo
      - ./scripts/mongo/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    command:
      [
        "--auth",
        "--bind_ip_all",
        "--keyFile",
        "/tmp/mongodb.key",
        "--replSet",
        "dbrs",
      ]

volumes:
  mongo_data:
